html{
    background-image: url(purple-sky.png);
}
header{
    text-align: center;
    font-size: 75px;
    font-family: "Dancing Script";
    font-style: inherit;
    font-style: initial;
    padding: 100px;;

}
.flex-container{
    font-family: "Merienda";
    padding: 80px;
    border: solid 2px  salmon;
    margin: 5px;
    display: flex;
   flex-wrap: wrap;
}

.box1{
    background-color: antiquewhite;
}

.box2{
    padding: auto;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row